<!DOCTYPE html>
<html lang="en">

<div class="login-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <div class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="user.username" placeholder="Username" type="text">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="user.password" placeholder="Password" type="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="basic" (click)="userLogin()" class="btn-block">Log in</button>
    </div>
  </mat-card>
</div>