<mat-toolbar>
</mat-toolbar>
    
<mat-sidenav-container *ngIf="authService.isLoggedIn$ | async">
    <mat-sidenav mode="side" opened>
        <ng-container matColumnDef="imageUrl">
            <img class="logo" src="../../../assets/Logo.png">
        </ng-container>
        <ng-container>
            <button mat-stroked-button color="basic" color="basic" class="btn-block">Trainings</button>
            <button mat-stroked-button color="basic" color="basic" class="btn-block">Diet Plans</button>
            <button mat-stroked-button color="basic" color="basic" class="btn-block">Reminders</button>
            <button mat-stroked-button color="basic" color="basic" class="btn-block">Logout</button>
        </ng-container>   
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            Main content here!
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>